.catalogy-box {
	&__h1 { 
        color: $darkgray;
        margin-bottom: 48px;
    }
    &__main { 
        display: flex;
    }
    &__h2 { 
        color: $dimgray;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .catalogy-box {
        &__form {
            display: none; 
        }
    }
}