.catalogy-button {
    cursor: pointer;
    border: 0;
    background: $yellow;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $dimgray;
    &:hover {
        background: $yellow-two;
        transition-duration: 0.2s;
    }
    &:active {
        background: $yellow-three;
    }
}