.selection-box { 
    display: flex;
    align-items: center;
    height: 52px;
    background: $whitesmoke;
    border-radius: 29px;
    margin-bottom: 32px;
}
@media (max-width: 767px) {
    .selection-box {
        justify-content: center;
        align-items: center;
    }
}