$red:rgba(255, 58, 58, 1);
$red-two: rgba(255, 58, 58, 0.7);
$red-three: rgba(255, 58, 58, 0.3);
$yellow:rgba(255, 205, 78, 1);
$yellow-two: rgba(255, 205, 78, 0.7);
$yellow-three: rgba(255, 205, 78, 0.3);
$blue: rgba(110, 66, 183, 1);
$blue-opacity: rgba(110, 66, 183, 0.7);
$purpur: rgba(92, 7, 144, 1);
$purpur-opacity: rgba(92, 7, 144, 0.5);
$lightcyan: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
$black:#000000;
$dimgray:#525252;
$gray:#858585;
$darkgray:#ADADAD;
$silver:rgba(201, 201, 201, 1);
$silver-two: rgba(201, 201, 201, 0.5);
$mintcream:#F4F4F4;
$whitesmoke:#FBFBFB;
$white: #FFFFFF;
$white-two: rgba(255, 255, 255, 0.5);
$pagination: rgba(223, 227, 232, 1);